
:root {
  --primary-color: rgb(172, 172, 172);
  --secondary-color: rgb(77, 77, 77);
  --side-image-width: clamp(180px, 24vw, 320px);
  --center-lane-gap: clamp(24px, 4vw, 56px);
  --content-lane-width: min(620px, calc(100vw - (2 * (var(--side-image-width) + var(--center-lane-gap))) - 4rem));
  --media-width: clamp(130px, 32vw, 220px);
  --post-media-width: clamp(200px, 42vw, 320px);
  --times-text-size: 20px;
  --desktop-left-width: var(--side-image-width);
  --desktop-left-content-gap: var(--center-lane-gap);
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 2em;
  overflow: hidden;
  background-color: black;
  background-image: url('/desktop-left.png'), url('/desktop-right.png');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: var(--side-image-width) 100%, var(--side-image-width) 100%;
  background-attachment: fixed, fixed;
  min-height: 100dvh;
}

@media (max-width: 668px) {
  body {
    background-image: url('/mobile.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100dvh;
  }
}

@font-face {
  font-family: 'LoveLetter';
  src: url('/fonts/LoveLetterTW.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'blockzone';
  src: url('/fonts/blockzone.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p, a {
  font-size: 16px;
  line-height: 1.3em;
}

.h1 {
  font-size: 32px;
  margin-bottom: 15px;
  font-family: "LoveLetter";
  color: white;
}

.h2 {
  font-size: 32px;
  line-height: 1em;
  font-family: "LoveLetter";
  color: white;
}

.h3 {
  font-size: 23px;
  line-height: 1em;
  font-family: "LoveLetter";
  color: var(--primary-color);
}

.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--times-text-size);
  color: 	white;
}

.diary-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--times-text-size);
  color: 	white;
  white-space: pre-wrap;
}

.diary-text :where(p, li, a, blockquote) {
  font-size: var(--times-text-size);
}

.postlink {
  line-height: 32px;
  display: block;
}

.meat a {
  display: block;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
  cursor: pointer;

}

a:active {
  color: white;
}

a {
  color: white;
}

.skin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding-left: 0;
}

.cover {
  outline-style: solid;
  outline-color: var(--primary-color);
  ;
  outline-offset: 3px;
  outline-width: 1px;
  width: 150px;
}

.cover-static {
  outline-style: solid;
  outline-color: var(--primary-color);
  outline-offset: 3px;
  outline-width: 2px;
  width: 130px;
}

.cover:hover {
  outline-color: var(--secondary-color);
  outline-offset: 2px;
  outline-width: 1px;
}

.back-button {
  color: white;
  font-size: var(--times-text-size);
  position: fixed;
  bottom: 20px;
  left: calc(var(--desktop-left-width) + var(--desktop-left-content-gap));
}

.track-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.track-title {
  margin-left: 20px;
}


.wrapper {
  left: calc(var(--desktop-left-width) + var(--desktop-left-content-gap));
  top: 40px;
  position: fixed;
}

.post-wrapper {
  left: calc(var(--desktop-left-width) + var(--desktop-left-content-gap));
  transform: none;
  width: min(var(--content-lane-width), calc(100vw - 2rem));
}

.post-image {
  display: block;
  width: var(--post-media-width);
  max-width: 100%;
  height: auto;
  margin: 1rem 0 0;
}

.post-audio {
  display: block;
  width: var(--post-media-width);
  max-width: 100%;
  margin-top: 1rem;
}

@media (max-width: 668px) {
  :root {
    --times-text-size: 18px;
  }

  .wrapper {
    padding: 25px;
    position: static;
  }

  .post-wrapper {
    left: auto;
    transform: none;
    width: auto;
  }

  .back-button {
    left: 25px;
  }

  .track-container {
    flex-direction: column;
    align-items: center;
  }


  .track-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;  /* Stack items vertically */

  }
  .skin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding-left: 0;
  }

  .cover-static {
    width: 40%;
    margin-bottom: 20px;
  }
  

  .track-title {
    margin-left: 0;
    text-align: center;
  }
  
  .track-info {
    margin-top: 20px;
    text-align: center;
  }

  .h2 {
    font-size: 1.5em;
  }

  .h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 450px) {
  :root {
    --times-text-size: 16px;
  }

  .cover {
    width: 60%;
    margin-bottom: 20px;
  }
}
