
* {
  margin: 0;
  padding: 0;
  background-color: black;
}

html, body {
  margin: 2em;
  overflow: hidden;
}

@font-face {
  font-family: 'blockzone';
  src: url('/fonts/blockzone.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p, a {
  line-height: 1em;
  font-family: "blockzone";
  white-space: pre;
  font-size: 32px;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.meat a {
  display: block;
  line-height: 1em;
  color: white;
  font-family: "blockzone";
  font-size: 2em;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
  cursor: pointer;

}

a:active {
  color: white;
}

a {
  color: white;
}

.skin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chess {
  margin: 50px;
  width: 15em;
  image-rendering: pixelated;
}